.home_link{
	color: #999999;
}

#link, .about_link{
	color: #333333;
}

main{
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
}

main .what_we_do{
	width: 95%;
	margin:auto;
	margin-top: 30px;
	text-align: center;
}

main .what_we_do div{
	display: inline-block;
}

main .what_we_do .content{
	vertical-align: top;
	width: 40%;
}

main .what_we_do .content h2{
	text-align: left;
	font-family: 'Asap Bold', arial;
	font-size: 36px;
	color: #333333;
}

main .what_we_do .content p{
	text-align: left;
	font-family: 'Asap Regular', arial;
	font-size: 20px;
	color: #999999;
}

main .what_we_do .image{
	height: 0%;
}

main .what_we_do .image img{
	height: 100%;
	width: 100%;
}

main .chronology {
	width: 70%;
	margin:auto;
}

main .chronology .year{
	text-align: center;
	font-family: 'Asap Bold', arial;
	font-size: 22px;
	color: #999999;
}

.circle{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: red;
}

.chro_row1,.chro_row2,.chro_row3,.chro_row4{
	width: 100%;
}

.chro_row1 .chro1, .chro_row2 .chro2,.chro_row3 .chro3,.chro_row4 .chro4{
	width: 100%;
}

.chro_row1 .chro1 div, .chro_row2 .chro2 div, .chro_row3 .chro3 div, .chro_row4 .chro4 div{
	display: inline-block;
}

.chro_row2 .chro2, .chro_row4 .chro4{
	text-align: right;
}

.content{
	width: 40%;
}

.now_parent{
	width: 100%;
}

.now{
	margin: 0 auto;
	text-align: center;
	height: 80px;
	width: 80px;
	border-radius: 40px;
	background: red;
}

.now span{
	position: relative;
	top:25px;
	font-family: 'Asap Bold', arial;
	font-size: 22px;
	color: #fff;
}

.content  h2{
	font-family: 'Asap Bold', arial;
	font-size: 22px;
	color: #333333;
}

.content  p{
	font-family: 'Asap Regular', arial;
	font-size: 20px;
	color: #999999;
}

.chro_row2 .chro2 .content, .chro_row4 .chro4 .content{
	text-align: left;
}

.chro_row1 .chro1 .circle, .chro_row3 .chro3 .circle{
	position: relative;
	left: 7.4%;
}

.chro_row2 .chro2 .circle, .chro_row4 .chro4 .circle{
	float: left;
	position: relative;
	left: 48%;
	top:50px;
}

main .we_are_looking{
	position: relative;
	top:70px;
	width: 70%;
	margin: auto;
	text-align: center;
}

main .we_are_looking h2{
	font-family: 'Asap Bold', arial;
	font-size: 36px;
	color: #333333;
}

main .we_are_looking p{
	font-family: 'Asap Regular', arial;
	font-size: 20px;
	color: #999999;
}

main .we_are_looking .hello_upcomer{
	height: 60px;
	width: 310px;
	border-radius: 30px;
	background: #2ecc71;
	margin: auto;
}

main .we_are_looking .hello_upcomer a{
	font-family: 'Asap Regular', arial;
	font-size: 20.3px;
	color: #fff;
	position: relative;
	display: block;
	top: 19px;
}
footer{
	position: relative;
	top:80px;
}

.link_to_be_hidden{
	text-align: center;
}