body{
	width: 100%;
}

a{
	color:#333333;
	text-decoration: none;
}

main{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
}

.home{
	position: relative;
	top:20px;
	left: 0px;
	right:0px;
	height: 500px;
	background-image: url("../images/bg1_repeat.png");
}

.home .slogans{
	margin:auto;
	width: 80%;
	height: 100%;
	color:#fff;
}

.home .slogans .slogan1{
	font-family: 'Asap Bold', arial;
	font-size: 52px;
}

.home .slogans .slogan2{
	font-family: 'Asap Bold', arial;
	font-size: 24px;
}

.home .slogans .slogan3{
	font-family: 'Asap Bold', arial;
	font-size: 16px;	
}

.home .slogans .subscribe .email{
	font-family: 'Asap Bold', arial;
	font-size: 16px;
	width:269px;
	height: 59px;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	outline: 0;
	border:none;
	background: rgba(255,255,255,0.3);
	padding-left: 25px;
	color: #fff;
} 

::-webkit-input-placeholder { 
   font-family: 'Asap Bold', arial;
   color: #fff;
   font-size: 16px;
}

::-moz-placeholder { 
   font-family: 'Asap Bold', arial;
   color: #fff;
   font-size: 16px;
}

.home .slogans .subscribe .submit{
	color: #fff;
	font-size: 16.05px;
	background: #2ecc71;
	width: 81px;
	height: 61px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	outline: 0;
	border:none;
	cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
}

.home .slogans .subscribe .submit:hover{
	opacity: 0.8;
}

.home .slogans .down img{
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 46%;
}	

.general{
	margin-top: 50px;
	width: 100%;
}

.general h2{
	margin: 2%;
	font-family: 'Asap Bold', arial;
   	color: #333333;
   	font-size: 36px;
}

.general .general_illustration{
	margin: 2%;
}

.general .feed{
	margin: 3%;
	text-align: center;
}

.general .feed  img{
	width: 100%;
	height:100%;
}

.general .illustration1,.general .illustration2{
	margin: 5%;
}

.general .illustration1 div, .general  .illustration2 div{
	display: inline-block;
}

.general  .illustration1 .illus1_img, .general  .illustration2 .illus2_img{
	width: 50%;
}

.general  .illustration1 .illus1_img img,.general  .illustration2 .illus2_img img{
	width: 100%;
	height: 100%;
}

.general  .illustration1 .illus1_slogan{
	vertical-align: top;
	text-align: left;
}

.general  .illustration2 .illus2_slogan{
	vertical-align: top;
	text-align: right;
}

.general p{
	font-family: 'Asap Regular', arial;
	font-size: 16px;
	color: #999999;
}

.conclusion{
	width: 100%;
	background-image: url("../images/bg2.png");
}

.conclusion  .conclusion_body .conclusion_head h2{
	font-family: 'Asap Bold', arial;
	font-size: 36px;
	color: #fff;
}

.conclusion  .conclusion_body .conclusion_slogan p{
	font-family: 'Asap Regular', arial;
	font-size: 24px;
	color: #fff;
}

.conclusion  .conclusion_body  .conclusion_share div{
	display: inline-block;
	width: 23%;
	margin-bottom: 40px;
}

.conclusion  .conclusion_body  .conclusion_share div img{
	width: 100%;
	cursor: pointer;
}
